# Path of backup files
/*.bak
/Hardware/Kicad/PerpetualCalendar/PerpetualCalendar-backups

#Kicad un-used files
/Hardware/Kicad/PerpetualCalendar/fp-info-cache
/Hardware/Kicad/PerpetualCalendar/PerpetualCalendar.kicad_prl
/Hardware/Kicad/PerpetualCalendar/sym-lib-table